body {
    background-color: silver;
    font-family: 'Raleway', sans-serif;
}

.navigation ul {
    margin: 0;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 2px;
}

#banner {
    background-image: url("./images/moon-fancy-nbl.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 30%;
    width: 100%;
    overflow: hidden;
}

#banner .content h1 {
    position: relative;
    top: 50px;
    width: 60%;
    margin: 0 auto;
    border: 4px solid lightcyan;
    border-radius: 15px;
    background-color: black;
    opacity: .8;
}

h1 {
    color: lightcyan;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: left;
    width: 700px;
    margin: 0 auto;
    padding: 5px;
    line-height: 1.5em;
}

a {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 5px;
    display: block;
}

a:hover {
    color: darkcyan;
}

.bio {
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 5px;

}

.project-nav ul {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.project-nav li {
    font-size: medium;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 2px;
}

