body {
    background-color: silver;
    font-family: 'Raleway', sans-serif;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
}

#banner {
    background-image: url("./images/moon-fancy-nbl.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 300px;
    width: 100%;
}

#banner .content h1 {
    position: relative;
    top: 50px;
    margin: 0 auto;
}

h1 {
    color: lightcyan;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.bio {
    position: relative;
    width: 600px;
    margin: 0 auto;

}

.project-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.project-nav li {
    font-weight: 100;
    letter-spacing: 2px;
}



