.body-background {
    background-image: url("images/mountain-lake.png");
    background-position: center;
    width: cover;
    size: auto;
    font-family: Helvetica;
}

.white {
    color:whitesmoke;
}

