* {
    font: verdana;
}

h1 {
   font: verdana;
}

body {

    margin: 50;
    background-color: lightcyan;
    text-align: center;
}

.aligncenter {
    text-align: center:
}

.webapp {
    width: 700px;
    height: auto;
}

.bold {
    font-weight: bold;
}

.graytext {
    color: gray;
}

#person-name {
    font-family: cursive;
}




